<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.threenitas.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for a threenitas application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view. Also an AppStoryboard and Router.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>StartViewController.swift:comments</string>
						<string>StartViewController.swift:imports:importCocoa</string>
						<string>StartViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>StartViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>StartViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>StartViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>StartViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>LocationUtilities.swift</string>
						<string>MapUtilities.swift</string>
						<string>KeyboardNotification.swift</string>
						<string>ScrollViewKeyboardHelper.swift</string>
						<string>AppStoryboard.swift</string>
						<string>Route.swift</string>
						<string>RouteProtocol.swift</string>
						<string>DoubleExtension.swift</string>
						<string>UIViewControllerExtension.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>LocationUtilities.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>LocationUtilities.swift</string>
		</dict>
		<key>MapUtilities.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>MapUtilities.swift</string>
		</dict>
		<key>KeyboardNotification.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>KeyboardNotification.swift</string>
		</dict>
		<key>ScrollViewKeyboardHelper.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>ScrollViewKeyboardHelper.swift</string>
		</dict>
		<key>AppStoryboard.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>AppStoryboard.swift</string>
		</dict>
		<key>Route.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>Route.swift</string>
		</dict>
		<key>RouteProtocol.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>RouteProtocol.swift</string>
		</dict>
		<key>DoubleExtension.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Extensions</string>
    		</array>
    		<key>Path</key>
    		<string>DoubleExtension.swift</string>
		</dict>
		<key>UIViewControllerExtension.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Extensions</string>
    		</array>
    		<key>Path</key>
    		<string>UIViewControllerExtension.swift</string>
		</dict>
	</dict>
</dict>
</plist>
