<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.threenitas.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for a threenitas application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view. Also an AppStoryboard and Router.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>StartViewController.swift:comments</string>
						<string>StartViewController.swift:imports:importCocoa</string>
						<string>StartViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>StartViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>StartViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>StartViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>StartViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>LocationUtilities.swift</string>
						<string>MapUtilities.swift</string>
						<string>KeyboardNotification.swift</string>
						<string>ScrollViewKeyboardHelper.swift</string>
						<string>AppStoryboard.swift</string>
						<string>Route.swift</string>
						<string>RouteProtocol.swift</string>
						<string>DoubleExtension.swift</string>
						<string>UIViewControllerExtension.swift</string>
						<string>../Podfile</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addNetworkPod</string>
  			<key>Name</key>
  			<string>Include Alamofire</string>
  			<key>Description</key>
  			<string>Adds Alamofire pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:Alamofire</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addPromiseKitPod</string>
  			<key>Name</key>
  			<string>Include PromiseKit</string>
  			<key>Description</key>
  			<string>Adds PromiseKit pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:PromiseKit</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addSwifterSwiftPod</string>
  			<key>Name</key>
  			<string>Include SwifterSwift</string>
  			<key>Description</key>
  			<string>Adds SwifterSwift pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:SwifterSwift</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addCrashlyticsPod</string>
  			<key>Name</key>
  			<string>Include Crashlytics</string>
  			<key>Description</key>
  			<string>Adds Crashlytics pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:Fabric</string>
            				<string>../Podfile:pod:Crashlytics</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addRealmSwiftPod</string>
  			<key>Name</key>
  			<string>Include RealmSwift</string>
  			<key>Description</key>
  			<string>Adds RealmSwift pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:RealmSwift</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addGoogleMapsPod</string>
  			<key>Name</key>
  			<string>Include GoogleMaps</string>
  			<key>Description</key>
  			<string>Adds GoogleMaps pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:GoogleMaps</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addKingfisherPod</string>
  			<key>Name</key>
  			<string>Include Kingfisher Image Downloader</string>
  			<key>Description</key>
  			<string>Adds Kingfisher pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:Kingfisher</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addNotificationBannerSwiftPod</string>
  			<key>Name</key>
  			<string>Include NotificationBannerSwift</string>
  			<key>Description</key>
  			<string>Adds NotificationBannerSwift pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:NotificationBannerSwift</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
  			<string>addSnapKitPod</string>
  			<key>Name</key>
  			<string>Include SnapKit</string>
  			<key>Description</key>
  			<string>Adds SnapKit pod to the default Podfile</string>
  			<key>Type</key>
  			<string>checkbox</string>
  			<key>Default</key>
  			<string>false</string>
  			<key>NotPersisted</key>
  			<true/>
  			<key>Units</key>
  			<dict>
    			<key>true</key>
   			 	<dict>
    				<key>Nodes</key>
          				<array>
            				<string>../Podfile:pod:SnapKit</string>
          				</array>
   	 			</dict>
  			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
  			<key>TargetIndices</key>
  			<array/>
  			<key>Beginning</key>
  			<string>source &apos;https://github.com/CocoaPods/Specs.git&apos;
					# platform :ios, &apos;9.0&apos;
					target &apos;___PACKAGENAME___&apos; do

					use_frameworks!
  			</string>
  			<key>End</key>
  			<string>end</string>
  			<key>Group</key>
  			<array>
    			<string>Removable Resources</string>
  			</array>
			</dict>
			<key>../Podfile:pod:*</key>
    		<string>pod &apos;___*___&apos;</string>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>LocationUtilities.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>LocationUtilities.swift</string>
		</dict>
		<key>MapUtilities.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>MapUtilities.swift</string>
		</dict>
		<key>KeyboardNotification.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>KeyboardNotification.swift</string>
		</dict>
		<key>ScrollViewKeyboardHelper.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Utilities</string>
    		</array>
    		<key>Path</key>
    		<string>ScrollViewKeyboardHelper.swift</string>
		</dict>
		<key>AppStoryboard.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>AppStoryboard.swift</string>
		</dict>
		<key>Route.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>Route.swift</string>
		</dict>
		<key>RouteProtocol.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Route</string>
    		</array>
    		<key>Path</key>
    		<string>RouteProtocol.swift</string>
		</dict>
		<key>DoubleExtension.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Extensions</string>
    		</array>
    		<key>Path</key>
    		<string>DoubleExtension.swift</string>
		</dict>
		<key>UIViewControllerExtension.swift</key>
		<dict>
    		<key>Group</key>
   			<array>
        		<string>Extensions</string>
    		</array>
    		<key>Path</key>
    		<string>UIViewControllerExtension.swift</string>
		</dict>
	</dict>
</dict>
</plist>
